
.hello__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.line {
    align-self: center;
}

.post {
    margin-top: 60px;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 50px 5%;
}

.centered {
    justify-content: center;
}

.spaced {
    justify-content: space-between;
}

.absolute {
    position: absolute;
}

.post__text {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    font-family: 'Comfortaa', cursive;
    color: #fffffe;
}

.post__text p {
    font-size: 24px;
    text-shadow: 2px 2px 3px black;
    text-align: center;
}

.img__area {
    border-radius: 10px;
    min-width: 30vw;
    min-height: 300px;
    box-shadow: 10px 10px 10px black;
}



.img1 {
    background: url("../img/imgs/img1.jpg") no-repeat;
    background-size: 100%;
}
.img2 {
    background: url("../img/imgs/img2.jpg") no-repeat;
    background-size: 100%;
}
.img3 {
    background: url("../img/imgs/img3.jpg") no-repeat;
    background-size: 100%;
}
.img4 {
    background: url("../img/imgs/img4.jpg") no-repeat;
    background-size: 100%;
}
.img5 {
    background: url("../img/imgs/img5.jpg") no-repeat;
    background-size: 100%;
}

.text__area {
    width: 50vw;
    height: 300px;
}

.background__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    -webkit-mask-image: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 70%);
    mask-image: image(url("../img/imgs/img4.jpg"));
    filter: blur(5px);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}


