.MyModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
}

.MyModal.active {
    pointer-events: all;
    opacity: 1;
}

.MyModalContent {
    display: flex;
    justify-content: center;
    padding: 25px;
    background: #16161A;
    box-shadow: 0 0 30px 7px black;
    border-radius: 16px;
    min-width: 250px;
    min-height: 280px;
}