@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

.input {
    width: 100%;
    height: 35px;

    padding: 5px 15px;
    margin-top: 20px;

    border: 1px solid #7f5af0;
    border-radius: 10px;
    background-color: transparent;

    color: #2cb67d;
    outline: none;
    font-family: 'Comfortaa', cursive;
    transition: 0.25s;
}

.input:focus {
    transform: scale(1.05);
}

.input::-webkit-input-placeholder {
    color: #2cb67d;
}