.plans {
    display: flex;
    align-items: center;

    flex-direction: column;

    width: 100%;

    margin-top: 20vh;
}

.plansArea {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 2vw;

    width: 80%;
    height: 80vh;
}

.plan {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2% 2%;

    width: 27%;
    height: 80%;

    background: var(--gray);
    color: var(--white);
    transition: var(--smooth);

    overflow: hidden;
}

.plan:hover {
    transform: scale(1.1);

    background: var(--violet);
}

.center {
    background: linear-gradient(to bottom, var(--violet), var(--dark-violet));

    transform: scale(1.2);
}

.center:hover {
    transform: scale(1.3);

    background: linear-gradient(to bottom, var(--violet), var(--dark-violet));
}

.plan h1 {
    font-variant: small-caps;
    font-size: calc(15px + 1vw);
}

.plan h2 {
    font-size: 60px;
}

.checkBox {
    font-family: var(--second-font);
    display: inline-flex;
}

.checkBox > p {
    margin-left: 20px;
    font-size: 20px;
}

.btnJoin {
    width: 100%;
}

.center > .btnJoin {
    color: var(--dark-violet);
}

.topImg {
    width: 50px;
    height: 50px;
}

.checked {
    width: 25px;
    height: 25px;
}

@media (max-width: 1000px) {
    .plans {
        margin-top: 100px;

        height: 60vh;
    }

    .checkBox {
        display: none;
    }

    .topImg {
        width: 40px;
        height: 40px;
    }

    .plan h2 {
        font-size: 20px;
    }

    .plansArea {
        height: 40%;
    }

    .btnJoin {
        display: none;
    }
}