.whatMore {
    position: relative;

    margin-top: 15vh;
    width: 100%;

    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.anchor {
    position: absolute;
    top: -10vh;
}

.funcsArea {
    display: flex;
    justify-content: center;

    margin-top: 20px;

    width: 100%;
    height: 45vh;

    color: var(--white);
    font-family: var(--second-font);
    font-weight: normal;
}

.func {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2% 2%;

    width: 25%;
    height: 100%;

    background: var(--gray);

    transition: var(--smooth);
}

.func:not(:first-child) {
    margin-left: 30px;
}

.func:hover {
    background: var(--violet);

    transform: scale(1.1);
}

.func h1 {
    font-size: calc(20px + 1vw);
}

.func p {
    font-size: calc(10px + 0.5vw);

    font-weight: normal;
}

.joinNow {
    display: inline-flex;
    align-items: center;

    width: 40%;

    cursor: pointer;
}

.joinNow > h1 {
    font-size: calc(10px + 0.5vw);
}

.joinNow:hover .rightArrow{
    transform: translateX(100%);
}

.rightArrow {
    width: 30px;
    height: 30px;

    margin-left: 20px;

    transition: var(--smooth);
}

.icon {
    width: 10%;
    min-width: 50px;
}


@media (max-width: 900px) {
    .whatMore {
        margin-top: 100px;
        height: 50vh;
    }

    .func > *:not(:first-child) {
        display: none;
    }

    .func:hover {
        background: var(--gray);
    }

    .func {
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 100px;
        min-width: 100px;
    }

    .icon {
        width: 50%;
        height: 50%;
    }

    .func {
        height: 40%;
    }
}