@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*fonts*/
    --main-font: 'Oswald', sans-serif;
    --second-font: 'Open Sans', sans-serif;

    /*colors*/
    --violet: #7f5af0;
    --dark-violet: #3d1d9c;
    --light-blue: #5984ef;
    --light-gray: #949494;
    --gray: #383842;
    --white: #f2f3f4;
    --dark: #16161A;
}

html {
    scroll-behavior: smooth;

    background: var(--dark);
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
}