@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Oswald', sans-serif;


    /*colors*/
    --violet: #7f5af0;
    --gray: #888888;
    --white: #f2f3f4;
    --dark: #16161A;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--dark);
}


::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--violet);
}