@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*fonts*/
    --main-font: 'Oswald', sans-serif;
    --second-font: 'Open Sans', sans-serif;

    /*colors*/
    --violet: rgb(127, 90, 240);
    --dark-violet: #3d1d9c;
    --light-blue: #5984ef;
    --gray: #888888;
    --white: #f2f3f4;
    --dark: #16161A;
}

html {
    scroll-behavior: smooth;

    background: var(--dark);

    height: 500vh;
    overflow-x: hidden;
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--violet);
}