.end {
    margin-top: 10vw;

    height: 30vh;
}

.textBlock {
    width: 50%;
    height: 100%;
}

.textBlock > hr {
    width: 30%;
    border: 2px solid var(--violet);
    border-radius: 20px;
}

.textBlock > h1 {
    margin-top: 1vw;

    color: var(--white);
    font-size: calc(30px + 3vw);
}


.credits {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 5vw;

    width: 100%;
    height: 30vh;

    border-top: 1px solid white;
}

.credits > a > img {
    min-width: 200px;
    width: 10vw;
    height: 100%;
}

.upperImgs > a > * {
    width: 50px;
    height: 50px;
}

.credits img {
    transition: var(--smooth);
}

.credits img:hover {
    transform: scale(1.2);
}

.upperImgs {
    width: 25%;
    min-width: 400px;
    height: 60%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1100px) {
    .textBlock {
        width: 80%;
    }
}