

.whyUs {
    position: relative;
    display: flex;
    justify-content: space-around;

    padding: 0 2%;
    margin-top: 100px;

    width: 100%;
    height: 80vh;
}

.anchor {
    position: absolute;
    width: 80vw;
    height: 100px;

    top: -7vw;
}

.whyUs > * {
    display: inline-flex;
}

.imgBlock {
    padding: 10px 10px;

    display: flex;
    justify-content: space-between;

    width: 48%;
    height: 100%;
}

.leftImgBlock {
    width: 38%;
    height: 100%;

    background: url("../../img/utils/pubg.jpg") no-repeat center center;
    background-size: cover;
}

.rightImgBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 60%;
    height: 100%;
}

.upperImgBlock {
    width: 100%;
    height: 60%;

    background: url("../../img/utils/dota.jpg") no-repeat center center;
    background-size: cover;
}

.bottomImgBlock {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 38%;
}

.bottomImgBlock > * {
    display: inline-flex;
}

.bottomLeftImgBlock {
    width: 60%;
    height: 100%;

    background: url("../../img/utils/apex.jpg") no-repeat center center;
    background-size: cover;
}

.bottomRightImgBlock {
    width: 37%;
    height: 100%;

    background: url("../../img/utils/cs go.jpg") no-repeat center center;
    background-size: cover;
}

.checkBoxBlock {
    display: flex;
    flex-direction: column;

    padding: 10px 10px;

    width: 48%;
    height: 100%;
}

.checkBoxBlock h1 {
    font-weight: bold;
    font-size: 30px;

    color: var(--violet);
}

.outlined {
    -webkit-text-stroke: 1px var(--white);
    -webkit-text-fill-color: transparent;
}

.checkBoxBlock h2 {
    font-weight: bold;
    font-size: 80px;

    color: var(--white);
}

.itemsBlock {
    display: flex;
    flex-direction: column;
}

.itemsBlock > * {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
}

.checkedImg {
    width: 50px;
    height: 50px;

    background: url("../../img/icons/check.png") no-repeat center center;
    background-size: 100%;
}

.itemsBlock > div > p {
    margin-left: 30px;

    font-size: 30px;
    color: var(--white);
    transition: all 0.3s ease 0s;
}

.itemsBlock > div > p:hover {
    color: var(--violet);
}

.sponsors {
    display: flex;
    margin-top: 100px;

    justify-content: space-between;
}

.sponsors > * {
    width: 30%;
    height: 80px;
}

.hyperX {
    background: url("../../img/utils/hyperx.png") no-repeat center center;
    background-size: cover;
}
.cola {
    background: url("../../img/utils/cola.png") no-repeat center center;
    background-size: contain;
}
.steam {
    background: url("../../img/utils/steam.png") no-repeat center center;
    background-size: cover;
}