.navbar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    max-width: 100%;
    padding: 70px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    z-index: 100;
}

.logo {
    display: inline-flex;
    width: 200px;
    height: 80px;
    background-image: url("logo.png");
    border: 1px solid #7f5af0;
    border-radius: 50px;
    background-size: 100%;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navbar_links {
    display: inline-flex;
    align-items: center;
}

.linkBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 130px;
    height: 50px;
    margin-right: 30px;
    border-radius: 50px;
    border: 1px solid #7f5af0;
    transition: all 0.3s ease 0s;
}

.linkBlock:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #7f5af0;
}

.link {
    font-size: 15px;
    font-family: 'Renogare Soft', sans-serif;
    color: #fffffe;
    text-decoration: none;
}

.link:visited {
    font-family: 'Renogare Soft', sans-serif;
    text-decoration: none;
    color: #fffffe;
}