.home {
    display: flex;
    justify-content: space-between;

    min-height: 500px;
    height: 85vh;
    width: 100%;
}

.rectangle {
    position: absolute;
    right: 0;
    top: 0;

    height: 99vh;
    width: 25%;

    background: var(--violet);
    z-index: -1;
}

.imgArea {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

.textArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 1%;

    width: 60%;

    color: var(--white);
}

.textArea h1 {
    width: 100%;

    font-weight: bold;
    font-variant: small-caps;
    font-size: calc(40px + 5vw);
}

.textArea p {
    font-size: 20px;
}

.statistic {
    width: 50%;

    display: flex;
    justify-content: space-between;

    text-align: center;
}

.statistic div {
    color: var(--light-gray);
    font-size: 20px;
}

.statistic h2 {
    color: var(--white);
    font-size: calc(20px + 2vw);
}

.statistic > * {
    display: inline-flex;
}

.statisticItem {
    flex-direction: column;
    line-height: normal;
}

.btns {
    margin-top: 50px;
}

.backgrounded {
    background: var(--violet);
    color: var(--white);
}

.outlined {
    margin-left: 5vw;
}

.btns a {
    font: inherit;
}

@media (max-width: 1200px) {
    .imgArea {
        display: none;
    }

    .textArea {
        width: 100%;
    }

    .rectangle {
        display: none;
    }
}