

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.linkArea {
    display: inline-flex;
}

.linkArea > * {
    margin-left: 50px;
}

.linkArea > * > hr {
    transition: all 0.3s ease 0s;
}

.linkArea > *:hover hr {
    transform: scale(1);
}

.logo {
    width: 200px;
    height: 70px;
}

.line {
    width: 100%;
    transform: scale(0);
}