@import url('http://fonts.cdnfonts.com/css/renogare-soft');

.navbar {
    background: rgba(127, 90, 240, 0.44);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.47);
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 100;
}
.navbar_links {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

.linkBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100px;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid #2cb67d;
    transition: 0.25s;
}

.linkBlock:hover {
    transform: scale(1.1);
    background: #16161A;
}

.link {
    font-size: 15px;
    font-family: 'Renogare Soft', sans-serif;
    color: #2cb67d;
    text-decoration: none;
}

.link:visited {
    font-family: 'Renogare Soft', sans-serif;
    text-decoration: none;
    color: #2cb67d;
}

.blocked {
    cursor: no-drop;
}

.unblocked {
    cursor: pointer;
}

a {
    cursor: unset;
}

a:active {
    color: inherit;
}