.btn {
    width: calc(50px + 7vw);
    height: calc(50px + 0.5vh);

    font-family: var(--main-font);
    font-size: calc(13px + 0.6vw);
    font-weight: bold;

    border: none;
    outline: none;
    cursor: pointer;

    transition: all 0.3s ease 0s;
}

.outlined {
    color: var(--white);

    background: transparent;

    border: 2px solid var(--violet);
}

.btn:hover {
    transform: scale(1.1);
}